#MainMenu,
header,
footer,
div[data-testid="stToolbar"],
div[data-testid="stDecoration"],
div[data-testid="stStatusWidget"] {
    height: 0%;
    visibility: hidden;
    position: fixed;
}

header[data-testid="stHeader"],
span[data-testid="stHeaderActionElements"] {
    display: none;
}

div[data-testid="stMainBlockContainer"] {
    margin: 0;
    padding: 0 1.5rem;
}

div[data-testid="stHeadingWithActionElements"] h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

div[data-testid="stHeadingWithActionElements"] h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

div[data-testid="stImageContainer"] img {
    border: 2px dashed #111;
    border-radius: 10px;
    padding: 2px
}

section[data-testid="stFileUploaderDropzone"] {
    margin-top: 15px;
    padding: 15px;
    border: 2px dashed #111;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    gap: 15px;
}

button[data-testid="stBaseButton-secondary"] {
    font-weight: 600;
    border: 2px dashed #111;
    padding: 5px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

button[data-testid="stBaseButton-secondary"]:hover {
    background-color: #111;
    color: #f9f9f9;
    transform: translate(-2px, 2px);
}

button[data-testid="stBaseButton-primary"] {
    margin: 0;
    padding: 10px 20px;
    background-color: #111;
    color: #f9f9f9;
    border: 1px solid #111;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

button[data-testid="stBaseButton-primary"]:hover {
    background-color: #f9f9f9;
    color: #111;
    transform: translate(-2px, 2px);
}